article{
    color: #383737;
    text-align: center;
}

button{
    background-color: #B66B55;
    color: #F7F6F3;
    border: none;
    width: 190.51px;
    height: 62.04px;
    font-size: 15px;
    font-weight: 700;
}