*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root{
    --color-red : #B66B55;
    --color-green: #799988;
    --color-grey: #F7F6F3;

    --color-black: #383737;
}

a{
    text-decoration: none;
    color: #F7F6F3;
}

/* div,section,main,header,nav{
    border: 2px solid black;
} */

h1, h2, h3{
    font-family:'Playfair Display', serif;
}

header{
    /* background-color: var(--color-red); */
    background-color: #B66B55;
    color: #F7F6F3;
    list-style: none;
}

header > div{
    gap: 17px;
    margin: 20px 45px;
}


img{
    max-width: 100%;
    display: block;
}

nav{
    gap: 52px;
    width: min(500px, 100%);
    font-family:'Playfair Display', serif;
    margin: 36px 38px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column{
    flex-direction: column;
}